*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */

.navbar  a{
    font-weight: 400;
    font-size: large;
}

/* slider || carusel */

.carousel-item{
    height: 80vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
}
.carousel-item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}
.carousel-caption h5,p{
    color: #fff;
}

/* team section */
.my-card {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0px 0px 8px;
    margin-bottom: 28px;
    border-radius: 35px 0;
    overflow: hidden;
    transition: .5s
}
.my-card:hover {
    box-shadow: 0px 0px 8px #c81a3b
}

.my-card img {
    max-height: 250px;
    width: 100%
}

.my-card-body {
    padding: 20px;
    margin-bottom: 20px
}
.my-card-body h5 {
    text-transform: capitalize;
    line-height: 25px;
    font-size: 25px
}

.my-card-body p {
    margin: 10px 0;
    color: #f7941d
}

.social-icons {
    margin-bottom: 25px
}

.social-icons a {
    margin-right: 22px;
    color: #363842;
    font-size: 16px
}

.social-icons a:hover {
    color: #c81a3b
}
.my-card-btn {
    color: rgb(231, 231, 231);
    background-color: #c81a3b;
    padding: 10px 28px;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 10px 0;
    transition: .5s
}

.my-card-btn:hover {
    color: rgb(15, 15, 15)
}